.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content{
    width: 500px;
    background: #fff;
    border-radius: 8px;
    padding: 16px;
    animation: slide .3s;
}
.modal-btn{
    display: flex;
    justify-content: flex-end;
}
.modal-btn >div{
    margin: 12px;
}

@keyframes slide {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}